.spinnerContainer{
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  background: #fff;
  z-index: 100;
}
.spinnerClass {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 200;
    margin: 40px auto;
    border: 3px solid;
    border-top-color: #2a83e7;
    border-right-color: #2a83e7;
    border-bottom-color: white;
    border-left-color: white;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    -webkit-animation: fav_widgets_spinner 0.6s linear infinite;
    -moz-animation: fav_widgets_spinner 0.6s linear infinite;
    animation: fav_widgets_spinner 0.6s linear infinite;
}

@keyframes fav_widgets_spinner {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}


div.dropZone a.deleteButton:hover,
div.dropZone a.deleteButton:visited {
  background: none;
  text-decoration: none;
  border: 1 #fff !important;
  border-bottom-color: #fff !important;
}
