.appeals-steps{
	list-style: none;
	padding: 0;
	margin: 25px 5px;
	text-align: left;
}
.appeals-steps li{
	padding-left: 8px;
	padding-right: 8px;
}
.appeals-steps li .item-wrap{
	/* background-color: #ececec; */
	/* height: 110px; */
	padding: 0;
	border-radius: 6px;
	width: 100%;
	display: inline-block;
}
.appeals-steps li.item-a .left{
	background-color: #27b3fb;
	background-position: 14px 80%;
}
.appeals-steps li.item-a .left:after{
	border-left-color: #27b3fb;
}
.appeals-steps li.item-b .left{
	background-color: #81c67a;
	background-position: -46px 80%;
}
.appeals-steps li.item-b .left:after{
	border-left-color: #81c67a;
}
.appeals-steps li.item-v .left{
	background-color: #fb9142;
	background-position: -98px 80%;
}
.appeals-steps li.item-v .left:after{
	border-left-color: #fb9142;
}
.appeals-steps li .left{
	width: 58px;
	/* border-radius: 6px 0 0 6px; */
	float: left;
	padding-left: 4px;
	height: 80px;
	/* background-image: url('../img/send-appeals-icons.png'); */
	background-repeat: no-repeat;
	position: relative;
}
.appeals-steps li .left:after{
	content: " ";
	position: absolute;
	right: -24px;
	border-bottom: 40px solid transparent;
	border-top: 40px solid transparent;
	border-left: 24px solid #ff862c;
	border-right: 0;
	top: 0;
}
.appeals-steps li .left span{
	display: block;
	width: 58px;
	text-align: center;
	font-size: 40px;
	font-weight: bold;
	color: #fff;
}
.appeals-steps .item-wrap:hover,
.appeals-steps .item-wrap:active {
	background-color: #e4e8eb
}
.appeals-steps li.item-v .item-wrap:hover,
.appeals-steps li.item-v.pressed .item-wrap{
	text-decoration: none;
	transition: all 0.2s ease;
	background: #fb9142;
}
.appeals-steps li.item-v .item-wrap:hover p.text,
.appeals-steps li.item-v.pressed .item-wrap p.text{
	color: #fff;
	transition: all 0.2s ease;
}
.appeals-steps li.item-v .item-wrap p.text{
	font-size: 18px;
	transition: all 0.2s ease;
}
.appeals-steps li.item-b .item-wrap p.text{
	font-size: 16px;
	/* line-height: 28px; */
}
.send-appeal-form.collapsing{
	position: inherit !important;
}
.appeals-steps li .item-wrap p.text{
	font-size: 16px;
	color: #383838;
	padding: 10px;
	line-height: 22px;
	padding-left: 95px;
}
.appeals-steps li .item-wrap p.text span{
	/* font-size: 23px; */
}

.state-organs-types{
	list-style: none;
	padding: 0;
	margin: 0 0 20px;
	text-align: left;
	width: 100%;
}
.state-organs-types li{
	width: 20%;
	float: left;
}
.state-organs-types li a{
	display: block;
	vertical-align: middle;
	height: 75px;
	padding: 4px 20px;
	font-size: 16px;
	color: #525252;
}
.state-organs-types li span{
	display: table-cell;
	vertical-align: middle;
	height: 70px;
}
.state-organs-types li a:hover i{
	background-color: #27b3fb;
	transition: all 0.2s ease;
}
.state-organs-types li i{
	display: block;
	transition: all 0.2s ease;
	float: left;
	margin: 15px 0;
	margin-right: 10px;
	width: 42px;
	height: 42px;
	/* background-image: url('../img/state-organs-icons.png'); */
	background-repeat: no-repeat;
	background-position: center;
	background-color: #a3a3a3;
	border-radius: 42px;
}

.consulates-wrap{
  border: 2px solid rgb(44, 177, 255);
  border-radius: 0px 6px 6px;
}
.consulates .step {
    background-color: rgb(44, 177, 255);
}
.consulates .step:after {
    border-left: 26px solid rgb(44, 177, 255);
}
.consulates .step i {
    color: rgb(44, 177, 255);
}
